.draw, .focus {
  fill:white;
  stroke-width:2;
  stroke:rgb(0,0,0);
}

.drawfocus {
  fill:white;
  stroke-width:4;
  stroke:rgb(0,0,0);
}

.wrap {
  fill: #DDD;
}

g:hover .draw, g:hover .drawfocus, g:hover .focus {
  fill:yellow;
}

.text, .focustext, .ftext {
  xfill:red;
  stroke-width:0;
  font-size: .8em;
}

.circletext {
  xfill:red;
  stroke-width:0;
  font-size: .4em;
}

.link {
  fill:blue;
  stroke-width:0;
  font-size: .8em;
}

.link:hover {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.focus, .ftext {
  display: none;
}

div.dir {
  margin-bottom: 10px;
}

svg {
  margin: 10px;
  overflow: scroll;
}

div#status {
  padding: 3px;
  border: thin solid red;
}

div#status:empty {
  padding: 3px;
  border: none;
}
