#family-tree {
    position:relative;
    height: 1200px;
    width: 1200px;
}
.line {
    position: absolute;
    z-index: 5;
}

.vert {
    border-left: 2px solid #012169;
}
.horiz {
    border-top: 2px solid #012169;
}

.dotvert {
    border-left: 2px dotted #012169;
}
.dothoriz {
    border-top: 2px dotted #012169;
}

.wrap {
    position: absolute;
    background-color: #eee;
    border: 1px solid #aaa;
    z-index: 2;
}
.draw, .drawfocus {
    position: absolute;
    background-color: #fff;
    z-index: 20;
    font-size: 0.8em;
    padding: 3px;
}
.draw {
    border: 1px solid #111;
}
.dotdraw {
    border: 1px dotted #111;
    border-radius: 8px;
}
.drawfocus {
    border: 2px solid #000;
}
.draw p, .drawfocus p {
    padding: 0;
    margin: 0;
}
.draw:hover, .drawfocus:hover, .draw:focus, .drawfocus:focus {
    background-color: #f8e08e;
}

a.name {
  text-decoration: none;
}

a:focus {
  font-weight: bold;
}

#family-tree abbr {
  text-decoration: none;
}
