.draw, .focus {
  fill:white;
  stroke-width:2;
  stroke:rgb(0,0,0);
}

.drawfocus {
  fill:white;
  stroke-width:4;
  stroke:rgb(0,0,0);
}

.wrap {
  fill: #DDD;
}

g:hover .draw, g:hover .drawfocus, g:hover .focus {
  fill:yellow;
}

.text, .focustext, .ftext {
  xfill:red;
  stroke-width:0;
  font-size: .8em;
}

.circletext {
  xfill:red;
  stroke-width:0;
  font-size: .4em;
}

.link {
  fill:blue;
  stroke-width:0;
  font-size: .8em;
}

.link:hover {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.focus, .ftext {
  display: none;
}

div.dir {
  margin-bottom: 10px;
}

svg {
  margin: 10px;
  overflow: scroll;
}

div#status {
  padding: 3px;
  border: thin solid red;
}

div#status:empty {
  padding: 3px;
  border: none;
}
table {border-collapse: collapse;border-right:solid thin black;}
table td, table th {border: thin solid black; padding: 4px;}

a.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
